In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [36]:
s = pd.Series([1,3,5,np.nan,6,8]) #np.nanはmissing data
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

DataFrameを作る

①インデックスとラベルを貼り付けるパターン

In [2]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6,4),index = dates, columns = list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.071918  0.711126 -0.359824 -0.124935
2013-01-02  1.402110  0.279461 -0.487190 -0.376646
2013-01-03  1.302180 -0.154806  0.942453  0.960397
2013-01-04  0.260041 -0.959164 -0.038816 -0.947897
2013-01-05  0.260750 -0.069265  0.530308 -0.721947
2013-01-06 -0.279627  0.523047  0.964866 -0.221720

②ラベル別にSeriesを作るイメージでDataFrameを作成

In [7]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [12]:
df2.dtypes #ラベルごとに別々のdtypesを持てる

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

indexを参照

In [16]:
df.index #indexのみ表示

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df.columns #columnsのみ表示

Index(['A', 'B', 'C', 'D'], dtype='object')

In [22]:
df.values #numpyのデータのみ表示

array([[ 0.07191848,  0.71112592, -0.35982362, -0.12493477],
       [ 1.40210979,  0.27946074, -0.4871896 , -0.37664571],
       [ 1.30218012, -0.15480634,  0.94245266,  0.96039739],
       [ 0.26004121, -0.95916401, -0.03881598, -0.9478967 ],
       [ 0.2607502 , -0.06926513,  0.53030781, -0.721947  ],
       [-0.27962701,  0.52304668,  0.9648665 , -0.22171956]])

In [26]:
df.describe()#統計量の概要をまとめて表示

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.502895  0.055066  0.258633 -0.238791
std    0.687479  0.597987  0.643024  0.664316
min   -0.279627 -0.959164 -0.487190 -0.947897
25%    0.118949 -0.133421 -0.279572 -0.635622
50%    0.260396  0.105098  0.245746 -0.299183
75%    1.041823  0.462150  0.839416 -0.149131
max    1.402110  0.711126  0.964866  0.960397

In [32]:
df.sort_index(axis=1, ascending=False) #ラベルを降順でソート

                   D         C         B         A
2013-01-01 -0.124935 -0.359824  0.711126  0.071918
2013-01-02 -0.376646 -0.487190  0.279461  1.402110
2013-01-03  0.960397  0.942453 -0.154806  1.302180
2013-01-04 -0.947897 -0.038816 -0.959164  0.260041
2013-01-05 -0.721947  0.530308 -0.069265  0.260750
2013-01-06 -0.221720  0.964866  0.523047 -0.279627

In [33]:
df.sort(columns='B') #

C:\Users\聡\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                   A         B         C         D
2013-01-04  0.260041 -0.959164 -0.038816 -0.947897
2013-01-03  1.302180 -0.154806  0.942453  0.960397
2013-01-05  0.260750 -0.069265  0.530308 -0.721947
2013-01-02  1.402110  0.279461 -0.487190 -0.376646
2013-01-06 -0.279627  0.523047  0.964866 -0.221720
2013-01-01  0.071918  0.711126 -0.359824 -0.124935